h2 {
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
}
body {
    border: 5px inset black;
    padding: 30px;
    background-color: brown;
    color: white;
}
.imagecenter {
    border: 5px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.list {
    padding: 5px;
    margin: 10px;
}