h2 {
    font-family: 'Trebuchet MS', sans-serif;
    text-align: center;
}
img {
    display: block; 
    margin: auto auto;
    border: 5px solid black; 
}
body {
    border: 5px inset white;
    background-color: brown;
    padding: 30px;
    color: white;
}
ul,
ol {
    padding: 5px;
    margin: 10px;
}